.example-spacer {
  flex: 1 1 auto;
}

button {
border: none;
background: transparent;
margin: 0px 16px 0px 0px;
}

.icon-color {
  color: #fafafa;
}

mat-toolbar {
  display: flex;
  justify-content: center;
  height: 64px;
}

